@model AboutBoxSettings;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<feature name="ContentEnhancement">
    <p>Cool stuff you can only see if Content Enhancement is enabled.</p>
</feature>

<div>
    <div id="AboutBox">
        <p>At our company we love to get better every day. You can reach us at contoso@contoso.com to find out how we are working to improve.</p>
        <div style="text-align: center;">
            <img src="@(Model.ImageUrl)" style="margin: 0 auto; width: @(3 * Model.Width / 4)px;text-align: center;">
        </div>
    </div>
</div>


<style>
    #AboutBox {
        margin: 0 auto;
        padding: 3px;

        width: @(Model.Width)px;

        height: @(Model.Height)px;

        border-color: @(Model.BorderColor);

        border-style: solid;

        border-width: 2px;
    }
</style>